.loading {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  transform: scale(0.5);
  width: 100%;
  z-index: 10;
}

.loader, .loader:before, .loader:after {
  animation: load7 1.8s infinite ease-in-out;
  animation-fill-mode: both;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;

  /* -webkit-animation: load7 1.8s infinite ease-in-out; */

  /* -webkit-animation-fill-mode: both; */
}

.loader {
  animation-delay: -0.16s;
  color: var(--heading-2);
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);

  /* -webkit-transform: translateZ(0); */

  /* -ms-transform: translateZ(0); */

  /* -webkit-animation-delay: -0.16s; */
}

.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.loader:before {
  animation-delay: -0.32s;
  left: -3.5em;

  /* -webkit-animation-delay: -0.32s; */
}

.loader:after {
  left: 3.5em;
}

/* @-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
} */

@keyframes load7 {

  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media only screen and ( min-width : 450px ) {

  .loading {
    transform: scale(0.6);
  }
}
