.favorite-recipes {
  margin-bottom: 68px;
  padding: 0 20px;
}

.favorite-recipes .categories {
  width: calc(100% - 20px);
}

.favorite-recipes .categories .btn-category {
  background-color: #e1dabd;
  border: none;
  border-radius: 14px;
  padding: 8px 14px;

  /* https://www.digitalocean.com/community/tutorials/css-prevent-line-break */
  white-space: nowrap;
  width: fit-content;
}

.favorite-recipes .categories .btn-category.selected {
  background-color: rgba(123, 110, 56, 0.4);
  color: #121008;
}

.favorited-recipes {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.favorite-recipes .message {
  align-items: center;
  display: flex;
  height: calc(60vh);
  justify-content: center;
  padding: 10px;
}

.favorite-recipes .message h2 {
  color: #7b6e38;
  text-align: center;
}

.favorite-recipe-card {
  align-items: center;
  background-color: white;
  border-radius: 24px;
  column-gap: 10px;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
  grid-template-rows: 0.75fr 0.5fr 1fr;
  padding: 10px;
  row-gap: 6px;
}

.favorite-recipe-card a {
  text-decoration: none;
}

.favorite-recipe-card .recipe-image {
  grid-column: 1;
  grid-row: 1 / span 3;
  padding: 5px;
}

.favorite-recipe-card .recipe-image img {
  border-radius: 24px;
  width: 100%;
}

.favorite-recipe-card .recipe-name {
  align-items: flex-end;
  color: #584e28;
  display: flex;
  grid-column: 2;
  grid-row: 1;
  height: 100%;
  width: 100%;
}

.favorite-recipe-card .recipe-name h4 {
  margin-bottom: 0;
}

.favorite-recipe-card .recipe-category {
  grid-column: 2;
  grid-row: 2;
  margin-bottom: 0;
  width: 100%;
}

.favorite-recipe-card .buttons-share-and-favorite {
  align-items: flex-start;
  display: flex;
  grid-column: 2;
}

@media only screen and ( min-width : 625px ) {

  .favorited-recipes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and ( min-width : 1000px ) {

  .favorited-recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and ( min-width : 1400px ) {

  .favorited-recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
