.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 15px;
  width: calc(100% - (15px * 2));
}

.profile .profile-avatar {
  color: var(--brown-4);
}

.profile h4 {
  color: var(--heading-2)
}

.profile a {
  align-items: center;
  background-color: white;
  border-radius: 12px;
  color: var(--heading-2);
  display: flex;
  gap: 14px;
  max-width: 400px;
  padding: 14px 18px;
  text-decoration: none;
  width: 100%;
}

.profile a:hover {
  color: var(--heading);
}
