footer {
  background-color: rgba(255, 255, 255, 0.9);
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/backdrop-filter */
  backdrop-filter: blur(10px);
  border-top: 1px solid #e1dabd;
  bottom: 0;
  left: 0;
  margin-top: auto;
  min-width: fit-content;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.footer-box {
  display: flex;
  justify-content: space-around;
}

.footer-box a, .footer-box a:visited {
  color: #7b6e38;
}

/* fiz um css básico para fixar o footer no final da página */
