.header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #e1dabd;
  display: flex;
  gap: 4px;
  grid-template-columns: 1fr auto;
  height: 55px;
  justify-content: space-between;
  padding: 0 10px 0 20px;
  width: 100%;
}

.header a {
  color: #7b6e38;
  text-decoration: none;
}

.header h2 {
  color: #7b6e38;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
}

.header .icons {
  display: flex;
  gap: 4px;
  height: fit-content;
  justify-self: end;
}

.header .icons .icon {
  align-items: center;
  border-radius: 100%;
  color: #7b6e38;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}

.header .icons .icon-button {
  background-color: transparent;
  border: none;
}
