.recipe-cards {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.recipe-cards.horizontal {
  grid-template-columns: repeat(6, 180px);
  overflow-x: auto;
}

.recipe-cards a {
  text-decoration: none;
}

.recipe-cards .recipe-card, .recipe-cards .recipe-card img {
  border: none;
  border-radius: 24px;
  position: relative;
  width: 100%;
}

.recipe-cards .recipe-card .recipe-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 100%;
  z-index: 10;
}

.recipe-cards .recipe-card .recipe-categories .category {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 12px;
  cursor: default;
  padding: 4px 12px;
}

.recipe-cards .recipe-card img {
  width: 100%;
}

.recipe-cards .recipe-card .recipe-name {
  color: #584e28;
  font-family: system-ui , -apple-system , Ubuntu , sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 4px 0;
}


@media only screen and ( min-width : 450px ) {

  .recipe-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and ( min-width : 450px ) {

  .recipe-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and ( min-width : 600px ) {

  .recipe-cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and ( min-width : 800px ) {

  .recipe-cards {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and ( min-width : 1200px ) {

  .recipe-cards.horizontal {
    grid-template-columns: repeat(6, 1fr);
    overflow-x: hidden;
  }
}
