.search-bar {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
  grid-column: 1 / span 2;
  justify-content: center;
  max-width: 100%;
  padding: 18px 0 4px;
  position: relative;
  width: 100%;
}

.search-bar .search-input-wrapper {
  position: relative;
  width: 95%;
}

.search-bar .search-input-wrapper .search-icon {
  left: 18px;
  position: absolute;
  top: 12px;
}

.search-bar input {
  padding-left: 56px;
  width: 100%;
}

.search-bar button {
  width: 95%;
}

.search-bar .radio-buttons {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.search-bar .radio-buttons label {
  display: flex;
  gap: 4px;
}
