.search-results {
  background-color: white;
  border-top-right-radius: 38px;
  border-top-left-radius: 38px;
  margin: 0 -8px 50px;
  min-height: 100vh;
  padding: 10px 14px 8px;
}

.search-results .title {
  color: #584e28;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 13px 0 21px;
}
