footer {

  /* background-color: blue; */
  bottom: 0;
  left: 0;
  margin-top: auto;
  min-width: fit-content;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.footer-box {
  display: flex;
  justify-content: space-around;
}

/* fiz um css básico para fixar o footer no final da página */
