.container-cards {
  align-items: center;
  justify-content: space-around;
  margin: 5px;
}

.card {
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 15rem;
}

.card-img-top {
  margin: 4px;
  width: 14rem;
}
