.recipe-header {
  position: relative;
}

.recipe-header .recipe-photo.mobile {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
}

.recipe-header .recipe-photo.desktop {
  border-radius: 24px;
  margin-bottom: 5px;
  max-width: 200px;
  width: 100%;
}

.recipe-header .recipe-name {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.6);
  background-image: linear-gradient(180deg, transparent, #f7f5ed);
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
  bottom: 0;
  padding: 16px 12px 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.recipe-header .recipe-name h1 {
  color: #584e28;
  font-weight: 400;
}

.recipe-header .recipe-name:after {
  background-color: #e1dabd;
  bottom: -5px;
  content: '';
  height: 1px;
  left: calc(25% / 2);
  position: absolute;
  width: 75%;
}

.recipe-header .top-buttons {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr auto auto;
  padding: 0 0 0 16px;
  position: fixed;
  right: 8px;
  top: 8px;
  width: 100%;
}

.recipe-header .top-buttons button, .favorite-recipes .buttons-share-and-favorite button {
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 14px;
  padding: 6px 12px;
  white-space: nowrap;
  width: fit-content;
}

.favorite-recipes .buttons-share-and-favorite button img {
  height: 26px;
}

.recipe-header .top-buttons .favorite-button img {
  height: 26px;
}

@media only screen and ( max-width : 400px ) {

  .recipe-header .recipe-photo.recipe-photo.desktop {
    display: none;
  }
}

@media only screen and ( min-width : 400px ) {

  .recipe-header .recipe-photo.mobile {
    background-position: center bottom;
    height: 50vh;
    object-fit: cover;
  }
}
