.header {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 6px 0;
}

.header .icons {
  display: flex;
  gap: 4px;
  height: fit-content;
  justify-self: end;
}

.header .icons .icon-button {
  background-color: transparent;
  border: none;
}

.search-bar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  grid-column: 1 / span 2;
  justify-content: center;
}

.search-bar .search-input {
  padding: 4px 8px;
}

.search-bar .radio-buttons {
  align-items: center;
  display: flex;
  gap: 12px;
  justify-content: center;
}

.search-bar .radio-buttons label {
  display: flex;
  gap: 4px;
}

.search-results:last-of-type {
  margin-bottom: 60px;
}

.search-results .wrapper {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.search-results .wrapper .recipe-card, .search-results .wrapper .recipe-card img {
  border: none;
  border-radius: 24px;
}

.search-results .wrapper .recipe-card img {
  width: 100%;
}

.search-results .wrapper .recipe-card .card-name {
  padding: 4px 0;
}

@media only screen and ( min-width : 450px ) {

  .search-results .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and ( min-width : 450px ) {

  .search-results .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and ( min-width : 600px ) {

  .search-results .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and ( min-width : 800px ) {

  .search-results .wrapper {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* .meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 80vh;
} */

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

/* .meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
} */
