@import url('https://fonts.cdnfonts.com/css/mulled-wine-season');

/* https://tailwindcss.com/docs/animation#pulse */
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login .wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.login .logo {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
}

.login .logo .image {
  margin-bottom: 20px;
}

.login .logo .title {
  color: #9e8d48;
  font-family: Mulled Wine Season , sans-serif;
  font-size: 40px;
}

.login .logo .subtitle {
  color: rgba(0, 0, 0, 0.7);
  font-family: Glacial Indifference , sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.login .separator {
  align-self: center;
  background-color: #e1dabd;
  height: 1px;
  margin: 24px 0;
  width: 75%;
}

.login .greetings {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 20px;
  position: relative;
  width: 90%;
}

.login .greetings .message {
  color: rgba(0, 0, 0, 0.7);
  font-family: Glacial Indifference , sans-serif;
  font-size: 18px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  width: 95%;
}

form label {
  display: flex;
  justify-content: center;
}

form input, form button {
  border-radius: 12px;
  padding: 12px;
  width: 90%;
}

form input {
  border: 1px solid #e1dabd;
}
